<!DOCTYPE html>
<html>
  <head>
   <link href="http://allfont.net/allfont.css?fonts=black-rose" rel="stylesheet" type="text/css" />
    <title>grimeo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
